<!-- <mat-sidenav-container fullscreen>
  <mat-sidenav #start [opened]="true" mode="side">
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->
<div class="modal-header">
  <div class="main-logo"  style="float:left">
    <img src="/assets/images/iky-logo.png" width="100px" height="100px"/>
  </div>

  <div class="main-logo"  style="float:right"  >
      <img src="/assets/images/chatboticon.png" width="100px" height="100px"/>
  </div>

</div>



<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <ul class="nav">



        
          <li class="sidebar-subnav-header">
            
            <a routerLink="/agent/default/intents">
                
              
              <i class="glyphicon glyphicon-list-alt"></i>
                <span> Intents</span>
                <p  style="color:#aaaaaaf8">  Create and Manage your Intents </p>
            </a>
          
          </li>

          <li class="sidebar-subnav-header">
              <a routerLink="/agent/default/entities" >
                <i class="glyphicon glyphicon-check"></i>
                <span> Entities</span>
                <p  style="color:#aaaaaaf8">  Create Entities  </p>
              </a>
          </li>


          <li class="sidebar-subnav-header">
              <a routerLink="/agent/default/chat" >
                <i class="glyphicon glyphicon-comment"></i>
                <span> Chat</span>
                <p style="color:#aaaaaaf8"> Test your agent response</p>
              </a>
          </li>


          <li class="sidebar-subnav-header">
              <a routerLink="/agent/default/settings" >
                <em class="icon-chemistry"></em>
                <span class="glyphicon glyphicon-cog"></span>
                <span> Setting</span>
              </a>
          </li>

        </ul>

    </div>
    <div class="col-sm-9">
        <router-outlet></router-outlet>
    </div>

  </div>
</div>
