<div class="container">
    <form class="form-inline" >
     
   
        <div >
        <input class="form-control" [(ngModel)]="entity.name" placeholder="Entity name" style="  width : 70% ">
      
      
        <button class="btn btn-primary" color="accent" (click)="saveEntity()">Save</button>
      
    </div>
    </form>



    

  <div fxLayout="row" fxLayoutAlign="space-evenly center" style="margin-top:10px;">
    
      
    
    <button  (click)="newValue(newEntityValue.value)" color="primary">
      <i aria-label="New value">add</i>
    </button>
  </div>

  <div class="values">
    <div *ngFor="let value of entity.entity_values;let value_index=index" fxLayout="row" fxLayoutAlign="space-between center">
      <span fxFlex="10">
        <h3>{{value.value}}</h3>
      </span>
      <div>
        <div >
          <!-- <div *ngFor="let synonym of value.synonyms;let synonym_index=index" [selectable]="true"  (remove)="remove_synonym(value_index,synonym_index)">
            {{synonym}}
            <i *ngIf="true">cancel</i>
          </div> -->
          <!-- <input placeholder="Synonyms" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true"
            (matChipInputTokenEnd)="add(value_index,$event)" /> -->
        </div>
      </div>
      <div fxFlex="5">
          <button  (click)="deleteEntityValue(value_index)" color="warn">
              <i aria-label="Delete this value">delete</i>
            </button>
      </div>
    </div>
  </div>

</div>

